.news-details-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:1000px;
    margin: 10px auto;
}

.news-details-img {
    width: 100%;
}

.news-details-img img {
    width: 100%;
}

.news-details-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-details-btns {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.details-btn {
    background: #14145b;
    color: white;
    padding: 10px;
    border-radius: 22px;
    width: 70px;
    margin: 20px 10px;
}

.news-details-form {
    display: flex;
    flex-direction: column;
    height: 320px;
    flex-basis: 50%;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}

.news-details-form h4 {
    font-size: 14px;
    margin: 10px;
}

.news-details-input-name {
    height: 50px;
    text-align: center;
    width: 400px;
}

.news-details-comments-input {
    width: 400px;
    height: 150px;
    text-align: center;
}