.home-main-news {
    display: flex;
    width:1000px;
    margin: 10px auto;
    justify-content: space-between;
}

.home-simple-news {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:1000px;
    margin: auto;
    padding-top: 5px;
}

