.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 75px auto;
    height: 350px;
    background: #14145b;
    color: white;
}

.auth-form h2 {
    margin-top: 0;
}

.auth-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form-inputs input {
    text-align: center;
    margin-top: 5px;
}

.auth-form-inputs label {
    margin-top: 10px;
}

.form-btn {
    margin: 30px auto;
}