.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 100px auto;
    height: 370px;
    background: #14145b;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.auth-form h2 {
    margin-top: 20px;
}

.auth-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form-inputs input {
    text-align: center;
    margin-top: 10px;
}

.auth-form-inputs label {
    margin-top: 10px;
}

.form-btn {
    margin: 30px auto;
}

@media all and (max-width: 1000px)  {
    .auth-form {
        margin-bottom: 150px;
    }
}

