.create-form {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-content {
    display: flex;
    flex-direction: column;
}

.create-content div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
    width: 900px;
}

.create-content-category {
    width: 200px;
}

.create-category,
.create-title,
.create-img {
    text-align: center;
    height: 50px;
    margin-top: 5px;
    box-shadow: 10px 10px grey;
    background: rgb(241, 238, 238);
}

.create-description {
    text-align: center;
    height: 200px;
    margin-top: 5px;
    box-shadow: 10px 10px grey;
    background: rgb(241, 238, 238);
}

@media all and (max-width: 1000px)  {
    .create-form {
        width: 800px;
    }

    .create-content div {
        width: 700px;
    }
  }
  
  @media all and (max-width: 800px)  {
    .create-form {
        width: 650px;
    }

    .create-content div {
        width: 600px;
    }
  }
  
  @media all and (max-width: 650px)  {
    .create-form {
        width: 450px;
    }

    .create-content div {
        width: 400px;
    }
  }

  @media all and (max-width: 450px)  {
    .create-form {
        width: 320px;
    }

    .create-content div {
        width: 300px;
    }
  }

  @media all and (max-width: 320px)  {
    .create-form {
        width: auto;
    }

    .create-content div {
        width: auto;
    }
  }